<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="__CSS__/screen.css">
        <script src="__JS__/jquery.min.js"></script>
<!--        <script src="//code.jquery.com/jquery-1.9.1.js"></script>-->
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="__JS__/jquery.validate.js"></script>
        <script src="__JS__/messages_zh.js"></script>
        <script src="__JS__/base.js"></script>
        
        
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default">                
                    <if condition="$Think.session.Admin eq ''">
                        <span class="navbar-text navbar-right mg-r-20">
                            <a href="{:U('login/login')}">登入</a>
                           
                        </span>
                        <else />
                        <span class="navbar-text  mg-r-20"> 
                      
                         欢迎：{$Think.session.Admin} |
                         <a href="{:U('index/loginout')}">注销</a>
                    
                        </span>
                    </if>
            </div>            
            
            <div class="row">
                <block name="content"></block>
            </div>
        </div>
        
    </body>
</html> 